<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resources
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf="podcasts">
      <ion-item-divider>
        <ion-label>Podcasts</ion-label>
      </ion-item-divider>
      <div *ngFor="let podcast of podcasts">
        <ion-item href="{{podcast.link}}">
          <ion-label>{{podcast.name}}</ion-label>
          <ion-thumbnail slot="start"><img src="{{BaseURL +podcast.img}}" /></ion-thumbnail>
        </ion-item>
      </div>
    </div>
    <div *ngIf="books">
      <ion-item-divider>
        <ion-label>Books</ion-label>
      </ion-item-divider>
      <div *ngFor="let book of books">
        <ion-item lines="none" href="{{book.link}}">
          <ion-label>{{book.name}}</ion-label>
        </ion-item>
      </div>
    </div>
    <div *ngIf="movies">
      <ion-item-divider lines="none">
        <ion-label>Movies</ion-label>
      </ion-item-divider>
      <div *ngFor="let movie of movies">
        <ion-item lines="none" href="{{movie.link}}">
          <ion-label>{{movie.name}}</ion-label>
        </ion-item>
      </div>
    </div>
  </ion-list>

  <div class="ion-padding" *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</ion-content>