<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Resources
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf="resources.podcasts">
      <ion-item-divider>
        <ion-label>Podcasts</ion-label>
      </ion-item-divider>
      <div *ngFor="let podcast of resources.podcasts">
        <ion-item href="{{podcast.link}}">
          <ion-label>{{podcast.name}}</ion-label>
          <!-- <ion-thumbnail slot="start"><img src="{{BaseURL +podcast.img}}" /></ion-thumbnail> -->
          <ion-icon slot="start" name="mic-outline"></ion-icon>
        </ion-item>
      </div>
    </div>
    <div *ngIf="resources.books">
      <ion-item-divider>
        <ion-label>Books</ion-label>
      </ion-item-divider>
      <div *ngFor="let book of resources.books">
        <ion-item  href="{{book.link}}">
          <ion-label>{{book.name}}</ion-label>
            <ion-icon slot="start" name="book-outline"></ion-icon>
        </ion-item>
      </div>
    </div>
    <div *ngIf="resources.movies">
      <ion-item-divider lines="none">
        <ion-label>Movies</ion-label>
      </ion-item-divider>
      <div *ngFor="let movie of resources.movies">
        <ion-item  href="{{movie.link}}">
          <ion-label>{{movie.name}}</ion-label>
          <ion-icon slot="start" name="videocam-outline"></ion-icon>
        </ion-item>
      </div>
    </div>
  </ion-list>

<!--   <div class="ion-padding" *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div> -->

</ion-content>