<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlert()">
        <ion-icon color="danger" name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Journal Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Score</ion-card-title>
          </ion-card-header>
          <ion-card-subtitle class='ion-padding'>Your score is: {{existedScore.score}}</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>