<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Journal Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2 class="ion-text-wrap">Let's see how much DP or DA are you today!</h2>
        </ion-col>
        <form>
          <ion-item button="true" detail (click)="toggleViewQ1()">
            <ion-label class="ion-text-wrap">
              Have you felt as if you were standing
              next to to yourself or watched yourself like looking at
              someone else or as if in a movie?
            </ion-label>
          </ion-item>
          <div class="{{toggleQ1}}">
            <ion-radio-group (click)="toggleViewQ1()">
              <ion-item>
                <ion-label>Not at all</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Mild</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Moderate</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Severe</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
          <ion-item button="true" detail (click)="toggleViewQ2()">
            <ion-label class="ion-text-wrap">
              Have you felt as if your whole bosy or parts of your body were detached or did not belong to you?
            </ion-label>
          </ion-item>
          <div class="{{toggleQ2}}">
            <ion-radio-group (click)="toggleViewQ2()">
              <ion-item>
                <ion-label>Not at all</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Mild</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Moderate</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Severe</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <ion-item button="true" detail (click)="toggleViewQ2()">
            <ion-label class="ion-text-wrap">
              Have you felt unreal or like a stranger to yourself?
            </ion-label>
          </ion-item>
          <div class="{{toggleQ2}}">
            <ion-radio-group (click)="toggleViewQ2()">
              <ion-item>
                <ion-label>Not at all</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Mild</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Moderate</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Severe</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
          <ion-item button="true" detail (click)="toggleViewQ2()">
            <ion-label class="ion-text-wrap">
              Have you looked in the mirror and felt disconnected from your own image?
            </ion-label>
          </ion-item>
          <div class="{{toggleQ2}}">
            <ion-radio-group (click)="toggleViewQ2()">
              <ion-item>
                <ion-label>Not at all</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Mild</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Moderate</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Severe</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
          <ion-item button="true" detail (click)="toggleViewQ2()">
            <ion-label class="ion-text-wrap">
              Have you felt like you were in a dream or just going through the motions?
            </ion-label>
          </ion-item>
          <div class="{{toggleQ2}}">
            <ion-radio-group (click)="toggleViewQ2()">
              <ion-item>
                <ion-label>Not at all</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Mild</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Moderate</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Severe</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
          <ion-item button="true" detail (click)="toggleViewQ2()">
            <ion-label class="ion-text-wrap">
             Have you felt as if your speech, voice, movements or behaviours were somehow not controlled by you or connected to you?
            </ion-label>
          </ion-item>
          <div class="{{toggleQ2}}">
            <ion-radio-group (click)="toggleViewQ2()">
              <ion-item>
                <ion-label>Not at all</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Mild</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Moderate</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Severe</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
          <ion-item>
            <ion-label>How do you feel right now?</ion-label>
          </ion-item>
          <ion-radio-group>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="assets/emojis/happy.png" />
              </ion-thumbnail>
              <ion-radio slot="start" value="0">
              </ion-radio>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="assets/emojis/angry.png" />
              </ion-thumbnail>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="assets/emojis/sad.png" />
              </ion-thumbnail>
              <ion-radio slot="start" value="2"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </form>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>