<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col >
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{quotes[1].quoteText}}</ion-card-title>
      <ion-card-subtitle>{{quotes[1].quoteAuthor}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button expand="block" (click)="questionnaire()">Lets do the questionnaire</ion-button>
  </ion-col>
</ion-row>
<ion-row *ngIf="user.username">
  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-title >Hello {{user.username}}</ion-card-title>
        <ion-card-subtitle *ngIf="user.firstTestScore">{{user.firstTestScore}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
