<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="user.username">
        <ion-item lines="none">
          <ion-label>{{welcomeMessage}} {{user.username}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="auto" *ngIf="user.firstTestScore">
        <ion-item lines="none">
          <ion-label>Score:</ion-label>
          <ion-badge (click)="presentAlert()" slot="end">{{user.firstTestScore}}</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Quote Of the day</ion-card-title>
            <ion-card-subtitle>{{quotes[1].quoteAuthor}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>{{quotes[1].quoteText}}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="!user.firstTestScore">
        <ion-button expand="block" (click)="questionnaire()">Lets do the questionnaire</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>